.baG {
  text-align: center;
}
.baG h3 {
  font-size: 80px;
  color: #fff;
  letter-spacing: -4px;
}
.baG h4 {
  color: #ffd200;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.baG p {
  color: #fff;
  font-size: 26px;
}
.baG button {
    font-size: 15px;
}